@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@keyframes wordPrinting {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

.word-printing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: wordPrinting 2s steps(22) infinite;
}
.my-photo-animation{
box-shadow: 0 5px 5px 5px rgba(13, 110,253, 0.1);
animation: myphotoanimation 5s ease-in-out infinite;
transition: all 1s ease-in-out;
}

@keyframes myphotoanimation {
  0% , 100%{
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
  border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}